<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Добро пожадовать в личный кабинет {{ name }}</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Выйти из аккаунта</button>
    </form>
    <div>
        <h2>Мои счета</h2>
        {% if invoices %}
            {% for invoice in invoices %}
                <div><a href="{% url 'invoice' invoice.id %}">{{ invoice.description }}</a></div>
            {% endfor %}
        {% else %}
            <p>Счетов нет</p>
        {% endif %}
    </div>
</body>
</html>